*.indTabIcn1 {
    padding-left: 20px;
    font-weight: bold;
    font: 11px tahoma,arial,helvetica;
    display: block;
    }
.deckpanel {
    /*display: inline-block!important;*/
}

.buttonBar {
    /*display: inline-block!important;*/
}