/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, td, a, div, .p {
    font-family: arial, sans-serif
}

.lablTxt {
font-family: Verdana;
}


.gwt-Label{
    font-size: 150%;
    font-weight: bold;
    color:red;
    padding:5px;
    margin:5px;
}
.gwt-Green-Border{
    border:1px solid green;
}
.gwt-Blue-Border{
    border:1px solid blue;
}

.lblFirst{
    position: relative;
    top: 10px;
    left: 200px;
    font-family: Verdana;
    font-size: 140%;
    font-weight: bold;
    color:green;
}
